/* GLOBAL VARIABLES */

body {
  background-color: black;
  color: #d4c7bd;
  /*background-image: url("/media/photos/landscape_sawah.JPG");*/
  position: relative;
}

h1,
h2 {
  font-family: "Passions Conflict", cursive; /*OR Lavishly Yours */
}

h2 {
  text-align: center;
  font-size: 10vw;
}
h4,
p {
  font-family: "Joan";
}

p {
  font-size: 18px;
}

section {
  padding: 0 0 20px 0;
}

/* NAVBAR */

nav {
  background-color: rgba(0, 0, 0, 0.828);
}

.navbar-nav a,
.n-div {
  color: #d4c7bd;
  font-size: 20px;
  font-family: "Joan";
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  transition: 250ms all ease-in-out;
}

.navbar-nav a:not(.culture):hover,
.n-div:hover {
  background-color: #82959d;
  color: black;
  border-radius: 5px;
}

.dropdown-item {
  width: 80%;
}

navbar-nav {
  background-color: #d4c7bd;
}

nav i {
  color: #d4c7bd;
  margin-top: 5px;
}

nav .culture {
  margin-left: -10px;
  padding-right: -10px;
}

.n-div {
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  font-size: 40px;
  font-family: "Passions Conflict";
}

.navbar-toggler {
  border: 2px solid #d4c7bd;
}

.n-div:hover {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-nav a:not(.main-dropdown):not(.additional):hover {
  background-color: #82959d;
  padding-left: 30px;
  color: black;
  border-radius: 5px;
}

.n-div {
  height: 30px;
  transition: all 150ms ease-in-out;
}

.n-div:hover {
  background-color: #82959d;
  height: 30px;
  padding-left: 28px;
  color: black;
  border-radius: 5px;
}

nav .dropdown-menu {
  background-color: #333437;
}
nav .sub {
  background-color: #333437;
  color: #d4c7bd;
}

.dropdown-divider {
  visibility: hidden;
}

/* HERO */

#hero {
  padding-top: 90px;
}

#hero img {
  width: 100%;
  position: relative;
}

.hero-headings {
  top: 12%;
  left: 5%;
  position: absolute;
  color: #333437;
  z-index: 10;
}

#hero h1 {
  font-size: 7vw;
  text-align: left;
}

#hero h3 {
  font-size: 2vw;
  text-align: center;
  font-family: "Joan";
}

/*.hero-img {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  background-image: url("/media/photos/beach.JPG");
  background-size: cover;
}*/

/* OUR STORY */

#ourstory {
  background-color: black;
  padding-top: 100px;
}

#ourstory .col-sm-4 {
  border: 2px solid red;
}

#ourstory img {
  padding-top: 30px;
}

#ourstory p {
  padding: 10px;
}

/* NEW WHEN & WHERE 2 */

/*#whenwhere2 img {
  width: 100%;
  opacity: 0.3;
  height: 100%;
}*/

#whenwhere2 .fill {
  background-image: url("/media/photos/landscape_sawah2.JPG");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  opacity: 0.4;
}

#whenwhere2 h2 {
  margin-top: 50px;
}

#whenwhere2 h3 {
  font-family: "Passions Conflict";
  font-size: 70px;
}
#whenwhere2 h4 {
  color: #82959d;
}

#whenwhere2 i {
  color: #d4c7bd;
  display: inline-block;
  margin-right: 5px;
  font-size: 22px;
}

#whenwhere2 .loc {
  display: inline-block;
  color: #d4c7bd;
}

#whenwhere2 .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
  position: relative;
}

#whenwhere2 {
  color: black;
  margin-right: 20px;
}

#whenwhere2 .container {
  position: absolute;
  z-index: 10;
  color: #d4c7bd;
  top: 20%;
  bottom: 20%;
  left: 10%;
  width: 80%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#whenwhere2 .row {
  width: 100%;
  padding-top: 5%;
}

#whenwhere2 .day-1,
#whenwhere2 .day-2 {
  padding: 10px 20px 10px 20px;
  margin-bottom: 100px;
  background-color: #090c07cd;
}

#whenwhere2 .date {
  font-family: "Passions Conflict";
  font-size: 40px;
}

/* FAQS */

#questions {
  padding: 100px 10px 10px 10px;
}

#questions h3 {
  font-family: "Joan";
  color: #82959d;
  text-align: left;
}

#questions h4 {
  text-align: center;
  font-family: "Joan";
  font-size: 20px;
}

#questions .special {
  font-family: "Passions Conflict";
  font-size: 40px;
  padding-left: 5px;
  padding-right: 3px;
  color: #c37d3f;
}

#questions .email {
  color: #82959d;
  padding: 0 8px 0 8px;
  transition: 250ms all ease-in-out;
  font-family: "Passions Conflict";
  font-size: 60px;
}

#questions a {
  font-weight: bold;
  color: #eae35a;
}

#questions .email:hover,
#questions a:hover {
  color: #82959d;
  border-radius: 3px;
  cursor: pointer;
}

#questions i {
  color: #39393cd9;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

/* NEW CULTURE */

#culture2 h2 {
  margin-top: 50px;
}

#culture2 .heading {
  font-family: "Passions Conflict";
  font-size: 70px;
  background-color: #82959d00;
}

#culture2 h3:hover {
  background-color: green;
}

#culture2 .clothes:hover {
  background-color: pink;
  z-index: 30;
}

#culture2 h4 {
  color: #82959d;
  line-height: 140%;
}

#culture2 h5 {
  color: #d4c7bd;
  font-size: 20px;
  margin-top: 15px;
  font-family: "Joan";
}

#culture2 .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
}

#culture2 {
  color: black;
  margin-right: 20px;
}

#culture2 .container {
  z-index: 10;
  color: #d4c7bd;
  top: 20%;
  bottom: 20%;
  left: 10%;
  max-width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#culture2 .row {
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#culture2 .underlayer {
  width: 300px;
  height: 180px;
  z-index: -10;
  position: absolute;
}

#culture2 .icons {
  padding: 30px 20px 10px 20px;
  background-color: #090c07d3;
  transition: all 500ms ease-in-out;
}

#culture2 .icons:hover {
  background-color: rgba(7, 3, 3, 0.115);
  color: #d4c7bd;
  text-shadow: rgb(0, 0, 0) 1px 0 8px;
}

#culture2 .col-md-6 {
  max-width: 300px;
  max-height: 180px;
  margin: 10px;
  padding: 0px;
  transition: all 500ms ease-in-out;
}

#culture2 #u1 {
  background-image: url("/media/photos/tipatcut2.png");
  background-size: cover;
}

#culture2 #u1:hover {
  background-image: url("/media/photos/tipatcut2.png");
  background-size: cover;
}

#culture2 #u2 {
  background-image: url("/media/photos/clothing.png");
  background-size: cover;
}

#culture2 #u2:hover {
  background-image: url("/media/photos/clothing.png");
  background-size: cover;
}

#culture2 #u3 {
  background-image: url("/media/photos/canang3.jpeg");
  background-size: cover;
}

#culture2 #u3:hover {
  background-image: url("/media/photos/canang3.jpeg");
  background-size: cover;
}

#culture2 #u4 {
  background-image: url("/media/photos/water.png");
  background-size: cover;
}

#culture2 #u4:hover {
  background-image: url("/media/photos/water.png");
  background-size: cover;
}

/*
#culture2 .cuisine {
  color: #d4c7bd;
  transition: all 250ms ease-in-out;
}*/

#culture2 #cuisine,
#culture2 #clothes,
#culture2 #rituals,
#culture2 #regions {
  background-color: #00000000;
}

#culture2 a {
  text-decoration: none;
  color: #d4c7bd;
  cursor: pointer;
}

/*#culture2 #cuisine:hover {
  color: #eae35a;
}*/

#culture2 .col-md-6 img {
  width: 50px;
  height: 50px;
}

#culture2 .col-md-6 #bali {
  width: 70px;
  height: 70px;
  margin-bottom: -20px;
}

#culture2 .date {
  font-family: "Passions Conflict";
  font-size: 40px;
}

#culture2 i {
  font-size: 80px;
}

/* CULTURE */

/* RESERVE 2 */

#reserve2 .fill {
  background-image: url("/media/photos/balihouse.JPG");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  opacity: 0.4;
}

#reserve2 h2 {
  margin-top: 50px;
}

#reserve2 h3 {
  font-family: "Passions Conflict";
  font-size: 70px;
}
#reserve2 h4 {
  color: #82959d;
}

#reserve2 .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
  position: relative;
}

#reserve2 {
  color: black;
  margin-right: 20px;
}

#reserve2 .container {
  position: absolute;
  z-index: 10;
  color: #d4c7bd;
  top: 20%;
  bottom: 20%;
  left: 10%;
  width: 80%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reserve2 .row {
  width: 100%;
  padding-top: 5%;
}

#reserve2 .day-1,
#reserve2 .day-2 {
  padding: 10px 20px 10px 20px;
  margin-bottom: 100px;
  background-color: #090c07cd;
}

#reserve2 .date {
  font-family: "Passions Conflict";
  font-size: 40px;
}

#reserve2 .contact p {
  font-size: 30px;
}

#reserve2 .contact span {
  color: #82959d;
}

/* RESERVE */

#reserve {
  margin-right: 0px;
}

#reserve .fill {
  background-image: url("/media/photos/balihouse.JPG");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  opacity: 0.4;
}

#reserve h2 {
  margin-top: 50px;
}

#reserve h4 {
  margin-bottom: 50px;
}

#reserve p {
  line-height: 1;
}

#reserve h3 {
  font-family: "Passions Conflict";
  font-size: 70px;
}

#reserve .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
  position: relative;
}

#reserve {
  color: black;
}

#reserve .container {
  position: absolute;
  z-index: 10;
  color: #d4c7bd;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reserve .row {
  width: 100%;
  padding-top: 5%;
}

#reserve .day-1,
#reserve .day-2 {
  padding: 50px 20px 10px 20px;
  margin: 0px 100px 100px 100px;
  background-color: #090c07cd;
  max-width: 100%;
}

#reserve .email {
  color: #82959d;
  padding: 0 5px 0 5px;
  transition: 250ms all ease-in-out;
}

#reserve .email:hover {
  background-color: #82959d;
  color: black;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  z-index: 10;
}

/* RSVP */
/*
#rsvp {
  color: black;
  padding: 10px;
}

#rsvp img {
  opacity: 0.4;
  width: 100%;
}

#rsvp p {
  text-align: center;
  padding: 0 5px 0 5px;
}

#rsvp span {
  color: #ebe9e8;
  transition: 150ms all ease-in-out;
  padding: 0 5px 0 5px;
}

#rsvp span:hover {
  background-color: white;
  color: black;
  padding: 0 5px 0 5px;
  border-radius: 3px;
}

#rsvp .background-img {
  position: relative;
  z-index: -1;
}

#rsvp .info {
  position: absolute;
  z-index: 10;
  border: 2px solid green;
  top: 150px;
  color: white;
}

/*#rsvp {
  background-image: url("/media/photos/beach.JPG");
}*/

/* FOOTER */
footer {
  text-align: center;
  color: rgb(54, 52, 52);
}

footer p {
  font-size: 12px;
}

footer .photo-cred {
  font-size: 16px;
  color: #82959d;
}

footer a {
  color: #d4c7bd;
  transition: 150ms all ease-in-out;
  padding: 2px 5px 2px 5px;
}

footer a:hover {
  text-decoration: none;
  color: black;
  background-color: #82959d;
  border-radius: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* REF PAGE */
#refpage .btn,
#phone-display .btn {
  background-color: #333437;
  width: 180px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  transition: all 250ms ease-in-out;
  border: 1px solid #82959d;
  color: #d4c7bd;
  margin: 20px 20px 0 20px;
}

#refpage .small-font,
#phone-display .small-font {
  font-size: 22px;
  height: 80px;
}

#refpage .btn:hover,
#phone-display .btn:hover {
  background-color: #d4c7bd;
  color: black;
}

#refpage .middle,
#phone-display .middle {
  width: 205px;
  margin: 0 15px 0 0px;
}

#refpage .row,
#phone-display .row {
  margin-left: 0;
}

#refpage .card,
#phone-display .card {
  background-color: #33343783;
  margin-bottom: 50px;
  height: 520px;
}

#refpage #refpage h2,
#phone-display h2 {
  margin-top: 50px;
}

#refpage .heading,
#phone-display .heading {
  font-family: "Passions Conflict";
  font-size: 70px;
  background-color: #82959d00;
}

#refpage span,
#phone-display span {
  color: #82959d;
  display: inline-block !important;
}

#refpage img,
#phone-display img {
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

#refpage h4,
#phone-display h4 {
  color: #82959d;
  line-height: 140%;
}

#refpage h5,
#phone-display h5 {
  color: #d4c7bd;
  font-size: 20px;
  margin-top: 15px;
  font-family: "Joan";
  padding: 10px;
}

#refpage,
#phone-display {
  color: black;
  margin-right: 20px;
}

#refpage .container,
#phone-display .container {
  z-index: 10;
  color: #d4c7bd;
  top: 20%;
  bottom: 20%;
  left: 10%;
  max-width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

#refpage .row,
#phone-display .row {
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*NEW CLOTHING */
.new-clothing {
  padding-top: 100px;
  margin-left: 0;
  padding-left: 0;
}

.new-clothing h2 {
  text-align: right;
  margin-right: 100px;
}

.kain {
  position: absolute;
  opacity: 0.5;
  width: 55%;
  height: 1000px;
  z-index: 5;
  background-image: url("/media/photos/clothing_batikgold.png");
}

.bridegroom,
.bridegroom2,
.bridegroom3,
.bridegroom4 {
  max-width: 500px;
  position: absolute;
  z-index: 20;
  background-color: black;
  padding: 10px;
}

.bridegroom {
  margin-top: 100px;
  margin-left: 20px;
}

.bridegroom2 {
  margin-top: 250px;
  margin-left: 100px;
}

.bridegroom3 {
  margin-top: 500px;
  margin-left: 100px;
}

.bridegroom4 {
  margin-top: 600px;
  margin-left: 160px;
}

.baliclothing {
  padding-left: 100px;
  margin-right: 50px;
  margin-top: 50px;
  z-index: 40;
}

/* NEW_REGIONS */
.new-region h2 {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 25px;
}

.new-region h4 {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 70px;
}

#new-region2 .fill {
  background-image: url("/media/photos/landscape_sawah2.JPG");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 250px;
  opacity: 0.4;
  margin: 15px 0 0 0;
  transition: all 150ms ease-in-out;
}

#new-region2 .fill-1 {
  background-image: url("/media/photos/new-regions-jatiluwih.jpeg");
}

#new-region2 .fill-2 {
  background-image: url("/media/photos/new-regions-denpasar.png");
}

#new-region2 .fill-3 {
  background-image: url("/media/photos/new-regions-kuta.jpeg");
}

#new-region2 h2 {
  margin-top: 50px;
}

#new-region2 h3 {
  font-family: "Passions Conflict";
  font-size: 70px;
}
#new-region2 h4 {
  color: #82959d;
}

#new-region2 .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
  position: relative;
}

#new-region2 {
  color: black;
  margin-right: 20px;
}

#new-region2 .container {
  position: absolute;
  z-index: 10;
  color: #d4c7bd;
  top: 20%;
  bottom: 20%;
  left: 10%;
  width: 80%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#new-region2 .row {
  width: 100%;
  padding-top: 5%;
}

#new-region2 .row-1 {
  margin-top: 10%;
}
#new-region2 .row-2 {
  margin-top: -10%;
}

#new-region2 .row-3 {
  margin-top: -10%;
}

#new-region2 .day-1,
#new-region2 .day-2 {
  padding: 10px 20px 10px 20px;
  margin-bottom: 100px;
  background-color: #090c07;
  width: 325px;
  height: 250px;
}

#new-region2 .date {
  font-family: "Passions Conflict";
  font-size: 40px;
}

/* NEW RITUALS */

#ourstory .photo-credits {
  color: #82959d80;
  margin-top: 20px;
  font-size: small;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* MEDIA QUERIES */

@media (min-width: 720px) {
  /* REFERENCE PAGE */
  #phone-display {
    display: none;
  }
}

/* MAX WIDTH 720PX */

@media (max-width: 720px) {
  /* GLOBAL */
  h2 {
    font-size: 80px;
  }

  p {
    font-size: 18px;
  }

  .hide-for-small-screens {
    display: none;
  }

  /* NAVBAR */
  .navbar-nav a {
    width: 80%;
    transition: 350ms all ease-in-out;
  }

  .n-div {
    background-color: #00000000;
  }

  .n-div:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-nav a:not(.main-dropdown):not(.additional):hover {
    background-color: #82959d;
    padding-left: 30px;
    color: black;
    border-radius: 5px;
  }

  .n-div {
    height: 30px;
    transition: all 150ms ease-in-out;
  }

  .n-div:hover {
    background-color: #82959d;
    height: 30px;
    padding-left: 28px;
    color: black;
    border-radius: 5px;
  }

  nav .dropdown-menu {
    background-color: #333437;
    margin-left: -50px;
  }
  nav .sub {
    background-color: #333437;
    color: #d4c7bd;
  }

  .dropdown-divider {
    visibility: hidden;
  }

  /* HERO */
  .hero-headings {
    display: none;
  }

  /*OUR STORY */
  #ourstory .container {
  }

  /*WHEN & WHERE */

  #whenwhere {
    padding-left: 20px;
    padding-right: 20px;
  }

  #whenwhere2 h2,
  #whenwhere2 h3,
  #whenwhere2 h4,
  #whenwhere2 p {
    text-align: center;
  }

  #whenwhere img {
    display: block;
    margin: 0 auto;
  }

  #whenwhere2 h2 {
    font-size: 60px;
  }

  #whenwhere2 h3 {
    font-size: 40px;
  }

  #whenwhere2 h4 {
    font-size: 20px;
  }

  #whenwhere2 .loc {
    display: inline-block;
  }

  #whenwhere .change-color {
    color: #d4c7bd;
  }

  /* QUESTIONS */
  #questions h3 {
    font-size: 24px;
  }

  #questions,
  #questions h3 {
    text-align: center;
  }

  /* RESERVE */

  #reserve2 h3 {
    font-size: 35px;
  }

  #reserve2 .day-1,
  #reserve2 .day-2 {
    padding: 50px 20px 10px 20px;
    margin: 0px 30px 30px 30px;
    max-width: 100%;
  }

  /* REF PAGE */
  #refpage p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #refpage {
    display: none;
  }

  /* CLOTHING */
  /* NEW REGIONS */

  .new-region h2 {
    text-align: center;
    margin-left: 70px;
  }

  #new-region2 .background-img {
    margin-top: 200px;
    margin: 100px 20px 0 30px;
  }

  #new-region2 .row-1 {
    margin-top: -50px;
  }

  #new-region2 .row-2 {
    margin-top: 10px;
  }
  #new-region2 .row-3 {
    margin-top: 10px;
  }

  #new-region2 .fill-1,
  #new-region2 .fill-2 {
    margin-bottom: 150px;
  }
}
