/* GLOBAL VARIABLES */
h2 {
  text-align: center;
}

section {
  padding: 20px;
}

/* NAVBAR */

/* HERO */

.hero-img {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  background-image: url("/media/photos/beach.JPG");
  background-size: cover;
}

/* OUR STORY */

/* WHEN & WHERE */

/* FAQS */

/* RSVP */
