/* GLOBAL VARIABLES */

body {
  background-color: black;
  color: #d4c7bd;
  /*background-image: url("/media/photos/landscape_sawah.JPG");*/
  position: relative;
}

h1,
h2 {
  font-family: "Passions Conflict", cursive; /*OR Lavishly Yours */
}

h2 {
  text-align: center;
  font-size: 10vw;
}
h4,
p {
  font-family: "Joan";
}

p {
  font-size: 18px;
}

section {
  padding: 0 0 20px 0;
}

/* NAVBAR */

nav {
  background-color: rgba(0, 0, 0, 0.828);
}

.navbar-nav a {
  color: #d4c7bd;
  font-size: 20px;
  font-family: "Joan";
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  transition: 250ms all ease-in-out;
}

.navbar-nav a:hover {
  background-color: #82959d;
  color: black;
  border-radius: 5px;
}

navbar-nav {
  background-color: #d4c7bd;
}

nav i {
  color: #d4c7bd;
  margin-top: 5px;
}

.navbar-brand {
  font-size: 40px;
  font-family: "Passions Conflict";
}

.navbar-toggler {
  border: 2px solid #d4c7bd;
}

/* HERO */

#hero {
  padding-top: 90px;
}

#hero img {
  width: 100%;
  position: relative;
}

.hero-headings {
  top: 12%;
  left: 5%;
  position: absolute;
  color: #333437;
  z-index: 10;
}

#hero h1 {
  font-size: 7vw;
  text-align: left;
}

#hero h3 {
  font-size: 2vw;
  text-align: center;
  font-family: "Joan";
}

/*.hero-img {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  background-image: url("/media/photos/beach.JPG");
  background-size: cover;
}*/

/* OUR STORY */

#ourstory {
  background-color: black;
  padding-top: 100px;
}

#ourstory .col-sm-4 {
  border: 2px solid red;
}

#ourstory img {
  padding-top: 30px;
}

#ourstory p {
  padding: 10px;
}

/* NEW WHEN & WHERE 2 */

/*#whenwhere2 img {
  width: 100%;
  opacity: 0.3;
  height: 100%;
}*/

#whenwhere2 .fill {
  background-image: url("/media/photos/landscape_sawah2.JPG");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  opacity: 0.4;
}

#whenwhere2 h2 {
  margin-top: 50px;
}

#whenwhere2 h3 {
  font-family: "Passions Conflict";
  font-size: 70px;
}

#whenwhere2 .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
  position: relative;
}

#whenwhere2 {
  color: black;
  margin-right: 20px;
}

#whenwhere2 .container {
  position: absolute;
  z-index: 10;
  color: white;
  top: 20%;
  bottom: 20%;
  left: 10%;
  width: 80%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#whenwhere2 .row {
  width: 100%;
  padding-top: 5%;
}

#whenwhere2 .col-md-6 {
}

#whenwhere2 .day-1,
#whenwhere2 .day-2 {
  padding: 10px 20px 10px 20px;
  margin-bottom: 100px;
  background-color: #090c07cd;
}

/* ORIGINAL WHEN & WHERE */
/*
#whenwhere {
  background-image: url("/media/photos/landscape_sawah.JPG");
  padding-top: 100px;
}

#whenwhere h2 {
  color: black;
}

#whenwhere h3 {
  font-family: "Passions Conflict";
  font-size: 6vw;
  color: #333437;
}

#whenwhere p,
#whenwhere h2,
#whenwhere h4 {
  color: #333437;
}

#whenwhere img {
  display: block;
  margin: 0 auto;
}

#whenwhere i {
  color: #39393cd9;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

#whenwhere .bali-img {
  border: 6px solid #333437;
  border-radius: 8px;
}

#whenwhere .ariya-home {
  background-image: url("/media/photos/balihouse.JPG");
  background-size: cover;
  /*box-shadow: 10px 8px 10px #82959d;
}

#whenwhere .hotel {
  background-image: url("/media/photos/baliplaceholder.jpeg");
  background-size: cover;
}

#whenwhere .erase {
  font-size: 200px;
  opacity: 0;
}/*

/* FAQS */

#questions {
  padding: 100px 10px 10px 10px;
}

#questions h3 {
  font-family: "Joan";
  color: #82959d;
  text-align: left;
}

#questions h4 {
  text-align: center;
  font-family: "Joan";
  font-size: 20px;
}

#questions .special {
  font-family: "Passions Conflict";
  font-size: 40px;
  padding-left: 5px;
  padding-right: 3px;
  color: #c37d3f;
}

#questions .email {
  color: #82959d;
  padding: 0 8px 0 8px;
  transition: 250ms all ease-in-out;
  font-family: "Passions Conflict";
  font-size: 60px;
}

#questions .email:hover {
  color: #eae35a;
  padding: 0 8px 0 8px;
  border-radius: 3px;
  cursor: pointer;
}

#questions i {
  color: #39393cd9;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

/* RESERVE */

#reserve {
  margin-right: 40px;
}

#reserve .fill {
  background-image: url("/media/photos/balihouse.JPG");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  opacity: 0.4;
}

#reserve h2 {
  margin-top: 50px;
}

#reserve h4 {
  margin-bottom: 50px;
}

#reserve p {
  line-height: 1;
}

#reserve h3 {
  font-family: "Passions Conflict";
  font-size: 70px;
}

#reserve .background-img {
  padding: 0 0 0 30px;
  min-height: 500px;
  z-index: -1;
  opacity: 1;
  position: relative;
}

#reserve {
  color: black;
}

#reserve .container {
  position: absolute;
  z-index: 10;
  color: white;
  top: 20%;
  bottom: 20%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reserve .row {
  width: 100%;
  padding-top: 5%;
}

#reserve .day-1,
#reserve .day-2 {
  padding: 50px 20px 10px 20px;
  margin: 0px 100px 100px 100px;
  background-color: #090c07cd;
  max-width: 100%;
}

#reserve .email {
  color: #82959d;
  padding: 0 5px 0 5px;
  transition: 250ms all ease-in-out;
}

#reserve .email:hover {
  background-color: #82959d;
  color: black;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  z-index: 10;
}

/* RSVP */
/*
#rsvp {
  color: black;
  padding: 10px;
}

#rsvp img {
  opacity: 0.4;
  width: 100%;
}

#rsvp p {
  text-align: center;
  padding: 0 5px 0 5px;
}

#rsvp span {
  color: #ebe9e8;
  transition: 150ms all ease-in-out;
  padding: 0 5px 0 5px;
}

#rsvp span:hover {
  background-color: white;
  color: black;
  padding: 0 5px 0 5px;
  border-radius: 3px;
}

#rsvp .background-img {
  position: relative;
  z-index: -1;
}

#rsvp .info {
  position: absolute;
  z-index: 10;
  border: 2px solid green;
  top: 150px;
  color: white;
}

/*#rsvp {
  background-image: url("/media/photos/beach.JPG");
}*/

/* FOOTER */
footer {
  text-align: center;
  color: rgb(54, 52, 52);
}

footer p {
  font-size: 12px;
}

footer .photo-cred {
  font-size: 16px;
  color: #82959d;
}

footer a {
  color: #d4c7bd;
  transition: 150ms all ease-in-out;
  padding: 2px 5px 2px 5px;
}

footer a:hover {
  text-decoration: none;
  color: black;
  background-color: #82959d;
  border-radius: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* MEDIA QUERIES */

/* MAX WIDTH 720PX */

@media (max-width: 720px) {
  /* GLOBAL */
  h2 {
    font-size: 80px;
  }

  p {
    font-size: 18px;
  }

  /* HERO */
  .hero-headings {
    display: none;
  }

  /*OUR STORY */
  #ourstory .container {
  }

  /*WHEN & WHERE */

  #whenwhere {
    padding-left: 20px;
    padding-right: 20px;
  }

  #whenwhere2 h2,
  #whenwhere2 h3,
  #whenwhere2 h4,
  #whenwhere2 p {
    text-align: center;
  }

  #whenwhere img {
    display: block;
    margin: 0 auto;
  }

  #whenwhere2 h2 {
    font-size: 60px;
  }

  #whenwhere2 h3 {
    font-size: 40px;
  }

  #whenwhere2 h4 {
    font-size: 20px;
  }

  #whenwhere .change-color {
    color: #d4c7bd;
  }

  /* QUESTIONS */
  #questions h3 {
    font-size: 24px;
  }

  #questions,
  #questions h3 {
    text-align: center;
  }

  /* RESERVE */
  #reserve h3 {
    font-size: 45px;
  }

  #reserve .day-1,
  #reserve .day-2 {
    padding: 50px 20px 10px 20px;
    margin: 0px 30px 30px 30px;
    max-width: 100%;
  }
}
